<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<html><h1>My Jupyter notebook on IBM Watson Studio</h1></html>

<html><body><strong>Sujishna V P</strong></body></html>
<br>
Data Scientist

<html><head><body><i>I am interested in data science because it helps to experience the magic of data</i></body></head></html>

<html><h3>In code 5 cell I am going to do the addition of two numbers</h3><html>

In [2]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=a+b
print(c)

Enter the first number: 6
Enter the second number: 8

14

<h4>Here I am going to display a table</h4>

<html>
<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Release year</th>
  </tr>
  <tr>
    <td>Harry stales</td>
    <td>AS it was</td>
    <td>2022</td>
  </tr>
  <tr>
    <td>BTS</td>
    <td>Map of the soul</td>
    <td>2020</td>
  </tr>
</table>
</html>

<h4>Next I am  going to display a numbered list</h4>

<h2><i><bold><u>Fruits</u></bold></i></h2>
        <ol>
            <li>Apple</li>
            <li>Orange</li>
            <li>Kiwi</li>
            <li>Banana</li>
         </ol>

<h4>Next, A bulleted list<h4>

<h2><i><bold><u>Animals</u></bold></i></h2>
        <ul>
            <li>Elephant</li>
            <li>Cow</li>
            <li>Cat</li>
            <li>Dog</li>
         </ul>